# For local testing use this: https://github.com/nektos/act

name: Run Pull Request Checks

on:
  push:
    branches:
      - master

  pull_request:
    types: [ opened, synchronize, reopened ] # default events - listed to make them explicit

# cancel any existing actions for current branch/PR on new push, unless the action is running on master
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  test:
    name: Test (JVM)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: ./.github/actions/environment-setup

      - name: Gradle ktlint
        run: ./gradlew ktlintCheck --no-watch-fs --stacktrace

      - uses: actions/upload-artifact@v7
        if: failure()
        with:
          name: report-lint
          path: build/reports/ktlint

      - name: Gradle test (JVM)
        run: ./gradlew jvmKotest --no-watch-fs --stacktrace -Dlog.level=debug

      - uses: actions/upload-artifact@v7
        if: failure()
        with:
          name: report-jvm-test
          path: build/reports/tests/

  test-ios:
    name: Test (iOS Simulator)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - uses: ./.github/actions/environment-setup

      - name: Run iOS Simulator Tests
        run: ./gradlew iosSimulatorArm64Test --no-watch-fs --stacktrace

      - uses: actions/upload-artifact@v7
        if: failure()
        with:
          name: report-ios-test
          path: build/reports/tests/
